<!DOCTYPE html>
<html lang="en">
  <%- include("./partials/head.ejs") %>
  <body>
    <%- include("./partials/nav.ejs") %>

    <div>
      <h2>About Us</h2>
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Inventore,
        laudantium? Eius laudantium ducimus perferendis quibusdam maiores beatae
        eaque? Perferendis, in? Debitis nemo, maxime tempora fugit dolores
        consequuntur natus repellat cum!
      </p>
    </div>
    <%- include("./partials/footer.ejs") %>
  </body>
</html>
