<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About</title>
  </head>
  <body>
    <h1>About</h1>
    <nav>
      <a href="/">Home</a>
      <a href="/about">About</a>
      <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fuga, nemo
        beatae, inventore voluptates sint sequi rem alias minus doloribus vitae
        accusantium nihil reiciendis? Suscipit quam ipsam nisi nobis impedit
        vitae nulla quis possimus sit illo vel accusamus corporis a ratione,
        obcaecati reprehenderit dicta esse ipsum. Magnam laboriosam neque
        debitis accusantium commodi! Provident optio, dolor nam veniam tempore
        rem, molestiae labore assumenda deleniti adipisci soluta magnam,
        suscipit perferendis quibusdam qui temporibus. Ducimus ex repellat
        commodi tenetur expedita reprehenderit molestiae, veniam incidunt illum
        ipsam eveniet quas a numquam neque eos ipsum officiis exercitationem,
        unde facilis earum provident. Quis nobis itaque tenetur beatae?
      </p>
    </nav>
  </body>
</html>
