<!DOCTYPE html>
<html lang="en">
  <%- include("./partials/head.ejs") %>
  <body>
    <%- include("./partials/nav.ejs") %>

    <div>
      <h2>Create Blog</h2>
      <form>
        <label></label>
        <input type="text" />
        <label></label>
        <input type="text" />
        <label></label>
        <input type="text" />

        <button>Submit</button>
      </form>
    </div>
    <%- include("./partials/footer.ejs") %>
  </body>
</html>
