<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
  </head>
  <body>
    <h1>Welcome User</h1>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem impedit
      deserunt ea tempore voluptatem laudantium, aut nobis earum quasi magnam
      quas doloremque, magni labore atque, tenetur asperiores. Possimus voluptas
      tempore fugiat deserunt aut! Blanditiis repudiandae est earum cum adipisci
      soluta rerum reiciendis voluptatem, ea praesentium, quis error similique
      dolorum itaque aliquam ipsa. Cupiditate neque, repellat excepturi
      voluptatum voluptate quis accusamus doloribus maiores totam culpa
      obcaecati quidem nam ipsam ipsa ab fugit necessitatibus expedita? Nihil
      quibusdam alias aperiam veritatis voluptas repellat perspiciatis fugit
      ipsum, quam laboriosam officiis quae quidem totam! Numquam consequatur
      cumque ex beatae corrupti omnis atque ducimus exercitationem eaque.
    </p>
  </body>
</html>
