<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
  </head>
  <body>
    <h1>Welcome User</h1>
    <nav>
      <a href="/">Home</a>
      <a href="/about">About</a>
    </nav>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus saepe
      laborum consectetur vitae cupiditate. Facilis, praesentium repellendus
      maxime doloribus eius odit quidem molestias, deserunt dolorum nam beatae
      quia unde ipsam delectus modi nisi ratione earum magnam hic a numquam,
      autem voluptate? Ex quidem, ea necessitatibus commodi cupiditate aliquid
      itaque quibusdam libero atque fugit placeat vero ipsum mollitia,
      voluptatem, quod sapiente a voluptatibus dolorum deserunt alias!
      Consequatur aperiam molestiae explicabo sed amet sunt quo vero aliquid
      porro doloribus debitis, recusandae omnis. Temporibus nobis, amet nesciunt
      illo beatae, voluptatum numquam at, nostrum accusamus aspernatur
      reiciendis aperiam perferendis unde. Modi commodi amet quam.
    </p>
  </body>
</html>
