<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>How to cook</h1>
    <h2>Step1</h2>
    <p>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Hic
      exercitationem necessitatibus expedita nobis libero quibusdam quae ad
      tempora quisquam veniam dicta consequatur doloremque sequi, earum laborum
      eum eaque officiis, omnis perferendis quos harum incidunt? Minus fugiat
      expedita, labore explicabo veniam voluptatibus blanditiis ipsa nostrum,
      aut necessitatibus molestias beatae tempore nemo in sed fuga commodi error
      aperiam aliquam officia quibusdam iure quasi illum! Excepturi vero minima
      debitis iusto illum qui harum dolore aspernatur veniam vel, iste fuga, id
      sequi, rerum nihil at voluptates officia doloremque non itaque maxime
      provident placeat alias? Repellat deleniti officiis fugiat architecto
      officia neque, commodi consequatur voluptas!
    </p>
    <h2>Step2</h2>
    <p>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Hic
      exercitationem necessitatibus expedita nobis libero quibusdam quae ad
      tempora quisquam veniam dicta consequatur doloremque sequi, earum laborum
      eum eaque officiis, omnis perferendis quos harum incidunt? Minus fugiat
      expedita, labore explicabo veniam voluptatibus blanditiis ipsa nostrum,
      aut necessitatibus molestias beatae tempore nemo in sed fuga commodi error
      aperiam aliquam officia quibusdam iure quasi illum! Excepturi vero minima
      debitis iusto illum qui harum dolore aspernatur veniam vel, iste fuga, id
      sequi, rerum nihil at voluptates officia doloremque non itaque maxime
      provident placeat alias? Repellat deleniti officiis fugiat architecto
      officia neque, commodi consequatur voluptas!
    </p>
  </body>
</html>
